<?xml version="1.0" encoding="UTF-8"?>
<configuration>
   <system.webServer>
      <defaultDocument>
         <files>
            <remove value="index.htm" />
            <remove value="default.aspx" />
            <remove value="iisstart.htm" />
            <remove value="Default.asp" />
            <remove value="Default.htm" />
         </files>
      </defaultDocument>
      <httpRedirect enabled="false" />
      <httpProtocol>
         <customHeaders>
            <add name="Access-Control-Allow-Origin" value="*" />
            <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
            <add name="Access-Control-Allow-Headers" value="x-requested-with, Content-Type, origin, authorization, accept, client-security-token, Token" />
            <add name="Access-Control-Allow-Credentials" value="true" />
         </customHeaders>
      </httpProtocol>
      <security>
         <requestFiltering>
            <requestLimits maxAllowedContentLength="2147483647" />
            <verbs>
               <remove verb="DELETE" />
               <remove verb="OPTIONS" />
               <add verb="OPTIONS" allowed="true" />
               <add verb="DELETE" allowed="true" />
            </verbs>
         </requestFiltering>
      </security>
      <rewrite>
         <rules>
            <rule name="Angular Routes" stopProcessing="true">
               <match url=".*" />
               <conditions logicalGrouping="MatchAll">
                  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
               </conditions>
               <action type="Rewrite" url="/index.html" />
            </rule>
         </rules>
      </rewrite>
   </system.webServer>
</configuration>